{% extends 'admin_base.html'%}

{% block main %}





<div class="card shadow m-2">
  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom:2px solid orange"> All Employee Detail</h5>
    <div class="container-fulid">

      <table class="table table-bordered table-hover" id="example">
        <thead class="text-light bg-danger">
        <tr>
          <th>S No.</th>
          <th>Emp code</th>
          <th>First name</th>
          <th>last name</th>
          <th>Email Id</th>
          <th>Contact No.</th>
          <th>Joining date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in employee %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.empcode}}</td>
          <td>{{i.user.first_name}}</td>
          <td>{{i.user.last_name}}</td>
          <td>{{i.user.username}}</td>
          <td>{{i.contact}}</td>
          <td>{{i.joiningdate}}</td>

          <td><a  class="text-primary"> Edit Profile</a>

          <a  class="text-danger" onclick="return confirm('are you sure ?)">Delete</a></td>

        </tr>


        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}